<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ino</title>
</head>
<body><h1><br><br><br>
    <center>welcome to kigali coding</center><br>
    <center>welcome to kigali coding</center><br>
    <center>welcome to kigali coding</center><br>
    <center>welcome to kigali coding</center><br>
    <center>welcome to kigali coding</center><br>
    <center>welcome to kigali coding</center><br>
<br>
  </h1>
</body>
</html>